/*RESETANDO ESTILOS PADRÕES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*ESTILIZANDO O CONTAINER*/
.container {
  height: 100vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #333;
}

/*ESTILIZANDO O TITULO PRINCIPAL "Buscador de CEP"*/
.container > h1 {
  color: #FFF;
  font-size: 4rem;
  animation: animaTitulo 2s ;
}

/*ESTILIZAÇÃO DA DIV DE PESQUISA DO CEP*/
.inputCep {
  display: flex;
}

/*ESTILIZAÇÃO DO INPUT*/
.inputCep input {
  border: none;
  background: #777;
  color: #FFF;
  padding-left: .5rem;
  font-size: 1.125rem;
  border-radius: 1rem 0 0 1rem;
}

/*ESTILIZÇÃO DO PLACEHOLDER DO INPUT*/
.inputCep input::placeholder {
  color: #FFF;
}

/*ESTILIZAÇÃO DO INPUT EM ESTADO DE FOCO*/
.inputCep input:focus {
  outline: none;
}

/*ESTILIZAÇÃO DO BUTTON*/
.buttonSearch {
  border: none;
  border-radius: 0 1rem 1rem 0;
  background: #777;
  padding: .5rem;
  cursor: pointer;
}

/*ESTILIZANDO AS INFORMAÇÕES DE ENDEREÇO DO CEP */
.main {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #FFF;
}

.main > h2 {
  color: #333;
}

.main > span {
  color: #333;
  font-size: 1.125rem;
  font-weight: bold;
}

/*ANIMAÇÃO DO TÍTULO PRINCIPAL*/
@keyframes animaTitulo {
  from {
    transform: rotateX(90deg);
  } 
  
  to {
    transform: rotateX(0deg);
  }
}